MONGODB_URI="mongodb://username:password@host:port/database"
NEXT_PUBLIC_CLARITY_TAG_ID="your_clarity_tag_id"
NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"
NEXT_PUBLIC_TURNSTILE_SITE_KEY="your_turnstile_site_key"
TURNSTILE_SECRET_KEY="your_turnstile_secret_key"
NEXT_TELEMETRY_DISABLED="1"
SITE_URL="http://localhost:3000"